<div class="row piedCQP">
   <a href="sessionVidage" class="col-3">
      <button class="btn btn-danger">Vider session</button>
   </a>
   <a href="sessionVoir"  class="col-3">
      <button class="btn btn-warning">Voir session</button>
   </a>
   &copy;2024 Alain Martel 
</div>