{% extends 'base.html.twig'%}

{% block body %}
  <h1>Ajouter offre d'emploi</h1>
   {{ form(formulaire)}}
   <a href="{{ path('accueil') }}"><Button class='btn btn-success m-2'>Accueil</Button></a>
{% endblock %}